:root {
  --mainColor : #567047;
  --secondaryColor: #383414;
  --acsentColor: #f8f4fc;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  background-color: var(--mainColor);
/*   width: 1280px;
  height: 720px; */
  font-family: 'Poppins';
  margin: 0;
}

.current{
  font-weight: 600;
  color: #313131;
}
/* Navbar */
.halamanhome{
  width: fit-content;
  height: fit-content;
  background-color: var(--mainColor);
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.footerr{
  background-color: var(--mainColor);
}
.kontenlogin{
  height: 560px;
  background-color: #fff;
}
#kontenregister{
  height: 600px;
}
.navbar-brand{
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 28px;
  color: #fff;
}
.navbar{
  background-color: var(--mainColor);
  width: 0 auto;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 100;
}

.loginn:hover{
  color: #fff;
}
#text-center{
  font-family: 'Poppins';
}

#login-page{
  font-family: 'Poppins';
  background-color: #fff;
  margin-top: 70px;
}
#register-page{
  font-family: 'Poppins';
  background-color: #fff;
  margin-top: 60px;

}
.navbar:hover{
  color: #383414;
}
.navbar-nav{
  font-size: 16px;
  font-weight: 500;
  margin-top: 2px;
}
.btn-primary1{
color: var(--acsentColor);
font-size: 16px;
background-color: var(--secondaryColor);
border-color: var(--secondaryColor);
}
.btn-primary4, 
.btn-primary4:hover {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}
.btn-primary, 
.btn-primary:hover {
  font-weight: 600;
font-size: 16px;
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}
.btn-primary5{
  color: #fff;
  background-color: var(--mainColor);
}
.btn-primary:active,
      .btn-primary:focus {
          color: #fff;
          background-color: var(--secondaryColor) !important;
          border-color: var(--secondaryColor) !important;
          box-shadow: 0 0 0 0.2rem #383414 !important;
      }

.navbar-nav, .nav-item, a{
color: var(--acsentColor);
}
.buttonprofile{
margin-right: 100px;
}

.navigasi{
margin-top: 20px;
line-height: 1.em;
}
.teks{
font-weight: 500;
color: #757575;
margin-top: 60px;
line-height: 20px;
}



/*isi konten*/
#slides{
  margin-top: 60px
}
.img-fluid{
margin-right: 200px;
}
.textslides{
  width:800;
}
.login{
color: var(--secondaryColor);
}

.text-start{
color: #464646;
}
.textslides{
margin-bottom: 70px;
}
/*end konten*/

/* slides */
/* #carouselExampleIndicators{
margin-top: -50px;
margin-bottom: 20px;
}
.carousel{
margin-top: 50px;
margin-bottom: 60px;
width: 100%;
} */

.carousel-item {
  transition: transform 0.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
}
.textslides{
text-align: center;
font-weight: bold;
font-size: 110px;
}
/* end slides */

/* academics */
#academics{
  height: 500px;
margin-top: 80px;
}
hr{
width: 47%;
color: var(--secondaryColor);
margin: 0 auto;
opacity: 100%;
margin-top: -14px;
margin-bottom: 120px;
}
.judul{
  color: var(--secondaryColor);
  font-weight: 700;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 80px;
}

.pic{
width: 127px;
height: 161px;
margin: auto;
margin-top: -100px;

}
.button{
background-color: var(--mainColor);
border-color: var(--mainColor);
margin: 0 auto;
margin-left: 100px;
}
/* end academics */

/* popular courses */
#popular{
height: 700px;
margin-top: 0px;
}
#popular1{
  margin-top: 70px;
  height: 1200px;
}

.popularrow{
margin-top: -50px;
}
.gambarcard{
  width: 365px;
  margin-left: -10px;
  margin-top: 0px;
}
.cards1{
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 2px 0 rgba(79, 79, 79, 0.2);
  transition: 0.5s;
  width: 32%;
  padding-left: 10px;
  margin-left: 10px;
}
.cards1:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.popularrow1{
margin-top: 20px;
}
.popularrow2{
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-title{
background-color: var(--mainColor);
height: 40px;
margin-top: -1px;
}
h5{
  font-weight: 600;
margin-top: 10px;
text-align: center;
font-size: 18px;
color: #10100d;
}
.card-text{
font-size: 14px;
color: #878787;
text-align: center;
font-weight: 500;

}
.follow{
background-color: var(--mainColor);
border-color: var(--mainColor);
align-items: center;
text-align: center;
}
.buttoncourses{
width: 365px;
margin-left: -10px;
margin-top: 0px;
background-color: var(--mainColor);
border-color: var(--mainColor);
}
.buttoncourses1{
  color:#fff;
width: 355px;
align-content: center;
margin: 0 auto;
background-color: var(--mainColor);
border-color: var(--mainColor);
}
.buttoncrs{
width: 200px;

}
.buttoncert{
  width: fit-content;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  margin: auto;
}
.garis{
width: 360px;
}


/* end popular courses */

.konversi{
  margin-top: 70px;
}
.dropdown-toggle:hover{
  color: var(--mainColor);
}
/* silabus and contact*/
#silabus{
  margin-top: 70px;
  height: 800px;
}
#silabuspage{
  margin-top: 70px;
  height: 880px;
}
#contact{
  margin-top: 70px;
  height: 500px;
}
.btn-primary2{
  color: #fff;
  background-color: var(--mainColor);
  margin-top: 30px;
}
.btn-primary2:hover{
  color: var(--secondaryColor);
}
h3{
margin-top: 10px;
margin-left: 5px;
font-weight: 600;
font-size: 24px;
color: #000000;
}
.p1{
  font-weight: 500;
margin-top: 10px;
margin-left: 5px;
font-size: 16px;

}
/*univ-list*/
#univlist{
  height: 1000px;
}
#university-list{
  margin-top: 70px;
  height: 960px;
}
.carduniv{
  margin-top: 20px;
}
.card-img-top1{
  margin-top: 20px;
  margin-bottom: 24px;
}
.subjudul{
  margin: auto;
  font-size: 16px;
  font-weight: 500;
  color: #b4b0b0;
  margin-bottom: 6px;
}
#univ{
  height: 880px;
}
.btn-primary3{
  margin: auto;
  margin-top: 20px;
  font-weight: 600;
  color: #fff;
  background-color: var(--mainColor);
}
/*form biodata */
.kontak{
  margin-top: 10px;
}
.col-md-6{
color: #6c757d;
}
.col-12{
color: #616161;
}
input{
width: 30px;
height: 40px;
}

/* footer */
.copyright{
text-align: center;
color: var(--acsentColor);
margin-top: 20px;
margin-bottom: 20px;
}
a{
text-decoration: none;
}
a:hover{
color: var(--secondaryColor);
}
.buttoncrs{
color: #fff;
margin: auto;
width: 180px;
font-size: 16px;
margin-left: 80px;
align-items: center;
margin-bottom: 20px;
background-color: var(--mainColor);
border-color: var(--mainColor);
}
h4{
font-size: 20px;
font-weight: bold;
color: var(--acsentColor);
}
.teksfooter{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.garisfooter{
width: 130px;
margin-left: 0;
margin-top: -10px;
margin-bottom: 30px;
}
.garisfooter2{
width: 127px;
margin-left: 0;
margin-top: -10px;
margin-bottom: 30px;
}
.garisfooter3{
width: 84px;
margin-left: 0;
margin-top: -10px;
margin-bottom: 30px;
}
.list-unstyled{
color: var(--secondaryColor);
}

video{
margin-top: 30px;
}
.gambar-circle{
  border-radius: 100%;
  border: 10px solid #fff;
  box-shadow: 0 2px 10px rgba(118, 27, 27, 0.1) !important;
  width: 150px;
  height: 150px;
}
.img-circle{
  margin-top: 80px;
}
.shadow {
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav{
	min-width:250px;
}
.tab-content{
	flex:1;
}
label{
  font-weight: 500;
}
.form-profile{
  font-weight: 400;
  color: #333;
  margin-bottom: 6px;
}
#profilee{
  margin-top: 70px;
}
/* end footer */
.akademik{
  margin-left: 40px;
  width: 350px;
  margin-left: 5px;
}
.cardya{
  background-color: #fff;
}
#login{
  width: max-content;
}
.navbar-toggler{
  background-color: var(--mainColor);
}
.navbar-toggler-icon{
  background-color: #567047;
}
.navbar-collapse{
  margin-top: -2px;
  margin-bottom: 6px;
  font-weight: 100;
  }
  /* Navbar */
.nav-link:active{
  color: var(--mainColor);
}
.nav-link:hover{
  color: var(--mainColor);
}
  .nav-item{
    margin-top: 10px;
  }
 
/*@media (max-width: 880px) { 
.card{
  margin-left: -120px;
  margin-right: 20px;
  width: 360px;
}
.btn-primary, 
.btn-primary:hover {
width: 300px;
height: 60px;
margin-top: 10px;
font-size: 16px;
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}
.btn-primary4{
  color: #fff;
  width: 300px;
  height: 60px;
  font-size: 16px;
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}
.logo{
margin-left: 10px;
}
.navbar-toggler{
color: #F0F0F0;
margin-top: -10px;
margin-right: 10px;
}
.login{
font-size: 40px;
}
.form-control{
width: 310px;
height: 50px;
}
.cardya{
background-color: #fff;
width: 380px;
margin-left: -128px;
}
.row{
  position: center;
}

.feature-1{
  background-color: white;
  padding: 2px 16px;
}
.akademik{
  margin-top: 0px;
  margin-bottom: 20px;
}


.buttoncourses{
  font-size: 20px;
  width: 342px;
  margin-top: auto;
}
.buttoncourses1{
  color: #fff;
  margin-left: -17px;
  font-size: 20px;
  width: 360px;
  height: 60px;
  margin-top: -3px;
}
.btn-primary1{
  width: 340px;
  height: 60px;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.buttoncrs{
  color: #fff;
  margin: auto;
  width: 180px;
  height: 48px;
  font-size: 18px;
  margin-left: 68px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.buttoncrs:active{
  color: var(--secondaryColor);
}
#coursepage{
  height: max-content;
}
#popular1{
  height: 2300px;
}
#popular{
  height: 5px;
}
a{
  align-items: center;
}
a:hover{
  color: var(--secondaryColor);
}
.seemore{
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: -50px;
  margin-left: 40px;
  color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}
.seemore:hover{
  color: var(--mainColor);
}

.carousel-inner{
  margin: 0 auto;
  width: 360px;
  height: 200px;
}
.d-block{
  width: fit-content;
}

#slides{
  height: 160px;
}
.feature-1{
  margin-top: 0px;
  margin-left: -18px;
  margin-bottom: 100px;
}
.popularrow1{
  margin-top: 5px;
}

.img-fluid{
  margin-top: 26px;
  width: 110px;
  align-items: center;
  margin-left: 10px;
}
h2{
  font-size: 22px;
}
.judul{
  font-size: 24px;
  margin-top: 20px;
}
hr{
  margin-top: -10px;
  width: 260px;
}
#homepage{
  height: 300px;
}
#contact{
    height: 600px;
}
.form-control{
    margin-top: 0px;
    width: 340px;
}
.col-md-6{
    margin-top: 6px;
}
.btn-primary2{
    margin-top: 14px;
    width: 340px;
    height: 46px;
}
#silabuspage{
  height: 760px;
}
video{
  margin-top: 12px;
  width: 340px;
  height: 200px;
}
h3{
  margin-left: auto;
}
.p1{
  margin-left: auto;
  text-align: justify;
}
.carduniv{
  width: 344px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#university-list{
  height: 1560px;
}
#academics{
  height: 1360px;
}
#profile{
  margin-left: -40px;
}
.profil{
  margin-left: -34px;
}
.btnupdate{
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.gambar-circle{
  margin-top: -60px;
}
.textprofile{
  margin-top: -90px;
}
.bordercourse{
  margin-bottom: -60px;
  margin-left: 10px;
}
.imgcourse{
  width: 360px;
  margin-left: -18px;
}
.registerlabel{
  width: 100px;
  height: 60px;
}
}*/
/*@media (max-width: 1200px){
  #contact{
    color: #000000;
    background-color: #fff;
    height: 680px;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
}
#academics{
  height: 1360px;
}
.akademik{
  margin-top: 10px;
  margin-bottom: 140px;
}
#popular{
  display:none;
}
.buttoncrs{
  align-items: center;
}
#profilee{
  height: 1280px;
}

#profilepage{
  height: 1380px;
}

}
*/
@media (max-width: 575.98px) {
  #contactpage{
    height: 880px;
  }
  #contact{
    height: 780px;
  }
  #profilee{
    height: 1280px;
  }
  #profilepage{
    height: 1380px;
  }
  .img-circle{
    margin-top: -18px;
  }

  #popular{
    display: none ;
  }
  #academics{
    height: 1200px;
  }
  .buttoncrs{
    margin-left: 80px;
  }
  .akademik{
    margin-top: 10px;
    margin-bottom: 100px;
  }
  .container, .container-sm {
    max-width: 540px;
  }
  .cardya{
    width: 360px;
    margin-left: -110px;
  }
  video{
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
.cert{
  height: 800px;
}
  #getcert{
    height: 400px;
  }
.loginn{
  display: none;
}

.seemore{
 border-color: var(--secondaryColor);
 color: var(--secondaryColor);
 margin: 0 auto;
 margin-left: 37%;
}
.seemore:hover{
  background-color: var(--mainColor);
  color: var(--secondaryColor);
}
.buttoncourses1{
display: none;
  }
  .bordercourse{
    margin-bottom: 20px;
    border-color: #333;
  }
  #university-list{
    height: 1500px;
  }
  .navbar{
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #567047;
  }
  .navbar-toggler{
    background-color: var(--mainColor);
  }
  .navbar-toggler-icon{
    background-color: #567047;
    margin: 0 auto;
  }
  .navbar-collapse,.navbar-expand-lg{
    background-color: var(--mainColor);
    margin: 0 auto;
  }
  .imglogin{
    display: none;
  }
  .kontenlogin{
    height: 560px;
  }
  #kontenregister{
    height: 670px !important;
  }
  .btnlogin{
    width: 70px;
    margin-bottom: 20px;
  }
  .navbarr{
    margin-bottom: -20px;
  }
  .navbarrr{
    margin-top: -10px;
  }
  .popularrow2{
    display: none;
  }
  .cards1{
    width: 100%;
    margin: 0 auto !important;
    align-items: center;
    margin-bottom: 20px !important;
  }
}
@media (max-width: 767.98px) { 
  .textslides{
    text-align: center;
    margin-bottom: 20px;
  }
  .navbar{
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #567047;
  }
  .navbar-toggler{
    background-color: var(--mainColor);
  }
  .navbar-toggler-icon{
    background-color: #567047;
    margin: 0 auto;
  }
  .navbar-collapse,.navbar-expand-lg{
    background-color: var(--mainColor);
    margin: 0 auto;
  }
  .imglogin{
    display: none;
  }
  .kontenlogin{
    height: 560px;
  }
  .btnlogin{
    width: 70px;
    margin-bottom: 20px;
  }
  .navbarr{
    margin-bottom: -20px;
  }
  .navbarrr{
    margin-top: -10px;
  }
  .btnlogin{
    width: 40px;
    margin-bottom: 20px;
  }
  

 }
@media (max-width: 991.98px) { 
  .textslides{
    text-align: center;
    margin: 0 auto;
    margin-left: -50px;
  }
  #popular{
    display: none;
  }
  #academics{
    height: 1200px;
  }
  .akademik{
    margin-top: 10px;
    margin-bottom: 100px;
  }
  .bordercourse3{
    display: none;
  }
  .buttoncourses1{
    margin: 0 auto;
    width: 335px;
    margin-top: -2px;
    background-color: var(--mainColor);
    border-color: var(--mainColor);
    }
    .popularrow1{
      margin-bottom: 10px;
    }
    #popular1{
      height: 2000px;
    }
    video{
      width: 100%;
      height: 100%;
      margin-top: 20px;
    }
    .gambarlog{
      display: none;
    }
    .imglogin{
      display: none;
    }
    #login-page{
      height: 500px;
    }
    .btnlogin{
      width: 80px;
      margin-bottom: 20px;
    }
    #kontenlogin{
      height: 2000px;
    }

 }

